<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MGApi - Maze Generator API</title>
</head>
<p>
<center style="padding: 50px 0 25px 0; font-size: 40px">Welcome to <b style="color: darkred">MGApi</b></center>
<hr>
<p>
    <b style="color: darkred">MGApi</b> is a RESTful API that allows you to generate mazes quickly and easily!<br />
    <h3>Generate Maze: </h3>
    <ul>
        <li><b>/maze/generate/json</b> - Generate a default 10x10 maze with the Recursive Backtracker algorithm (JSON Format)</li>
        <li><b>/maze/generate/json/width/height</b> - Generate a width by height maze with the Recursive Backtracker algorithm (JSON Format)</li>
        <li><b>/maze/generate/json/strategy/width/height</b> - Generate a width by height maze with the algorithm provided in strategy (JSON Format)</li>
    </ul>

    <div style="padding-left: 23px;">
        <h4>Available Algorithms:</h4>
        <ul>
            <li>Recursive Backtracker</li>
            <li>Hunt And Kill</li>
        </ul>
    </div>

    <h3>Render Maze: </h3>
    <ul>
        <li><b>/maze/render</b> - Render a default 10x10 maze with the Recursive Backtracker algorithm</li>
        <li><b>/maze/render/width/height</b> - Render a width by height maze with the Recursive Backtracker algorithm</li>
        <li><b>/maze/render/strategy/width/height</b> - Render a width by height maze with the algorithm provided in strategy</li>
    </ul>

    <h3>Solve Maze: </h3>
    To Be Continued ...
</p>
</body>
</html>