<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>MGApi - Maze Generator API</title>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
</head>
<body>
<center style="padding: 5px 0 5px 0; font-size: 40px">
    Rendering <b style="color: darkred">MGApi</b> Generated Maze!<br />
    <a id="solveme" style="font-size: 18px; font-weight: bold;" href="javascript:void(0);">( Solve Me! )</a>
</center>
<hr>
<center style="padding: 15px 0 0 0;">
    <div id="mazePlaceHolder"></div>
</center>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        var maze = $.parseJSON('{{ maze_json|safe }}');
        var maze_html = '';

        maze_html += '<table id="mazeTable" style="border: none;" cellpadding="0" cellspacing="0">';

        $.each(maze, function(i, item) {
            maze_html += '<tr id="mazeRow_' + i + '">';

            $.each(item, function(i, wall) {
                border_style = 'border: 1px solid #666;';


                if(wall.N == 1)
                    border_style += ' border-top: none;';

                if(wall.S == 1)
                    border_style += ' border-bottom: none;';

                if(wall.W == 1)
                    border_style += ' border-right: none;';

                if(wall.E == 1)
                    border_style += ' border-left: none;';

                maze_html += '<td style="' + border_style + ' width: 10px; height: 10px;" id="mazeCell_' + i + '">';
                maze_html += '</td>';
            });

            maze_html += '</tr>';
        });

        maze_html += '</table>';

        $('#mazePlaceHolder').html(maze_html);

        $('#solveme').click(function(e) {
            $('#solveme').html('( Solving . . . )');

            $.ajax({
                url: '/maze/solve',
                async: false,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json',
                data: '{{ maze_json|safe }}',
                success: function(data) {
                    alert(data);
                    $.each(data, function(i, item) {
                        $("#mazeRow_" + item.y + " > #mazeCell_" + item.x).css("background-color", "#00ee00");
                    });

                    $('#solveme').html('( Solve Me! )');
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                    $('#solveme').html('( Error! Retry? )');
                }
            });
        });
    });
</script>

</html>